.container {
	width: 900px;
	margin: auto;
	padding: auto;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

/*-----------------------------------------Header---------------------------------------------*/

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: green;
}
/*------------------------------------------------------L-subheader-----------------------------------*/
.l_header{
	padding-left: 50%;
}

/*--------------------------------------------------------Form----------------------------------------*/
* {
	box-sizing: border-box;
}

input[type=text],input[type=file], select {
	/*width: 379%;*/
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.col-25 {
	float: left;
	width: 95%;
	/*margin-top: 6px;*/
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}
/*-----------------------------------table-----------------------------------*/
#articles {
	font-family: "Cambria", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
#articles td, #articles th {
	border: 1px solid #ddd;
	padding: 8px;
}

#articles tr:nth-child(even){background-color: #f2f2f2;}

/*#articles tr:hover {background-color: #ddd;}*/

#articles th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

/*------------------------------------------button-------------------------------------------------*/

.button {
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: red;
	color: black;
}
.button:hover{
	background-color: green;
	color: white;
}
.btn {
	width: 100%;
	border: none;
	color: white;
	padding: 10px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 2px 1px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	color: black;
}
.btn:hover{
	background-color: green;
	color: white;
}
h2 {
	padding:2% 10%;
	font-size: 35px;
	font-family: "AKbalthom KhmerGothic";
	text-align: center;
	display: block;
	font-weight: bold;
	background-color:green;
	color:white;
}
.img{
	width: 100px;
	height: 100px;
}
.footer{
	padding-left: 83%;
}