<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                        layout:decorator="layouts/default_layout" >
<head>
    <title th:text="${formAdd}?'Add new article':'Update article'">Add - New - Article</title>
</head>
<body>
<div layout:fragment="content">
    <h2 class="h form-control input-lg" th:text="${formAdd}?'Add new article':'Update article'">Add new article</h2>
    <h6><a href="/home">Back-to-Homepage</a></h6>
    <div id="main" class="container">
        <form th:action="${formAdd}?'/add':'/update'" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-25">
                <label for="id">ID</label>
                <input type="text" class="form-control" th:field="${article.id}" id="id" placeholder="your serial number" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="title">Title</label>
                    <div th:if="${#fields.hasErrors('article.title')}">Title cannot be null ----!</div>
                    <input type="text" class="form-control" th:field="${article.title}" id="title" placeholder="your article title" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="description">Description</label>
                    <div th:if="${#fields.hasErrors('article.description')}">Description cannot be null ----!</div>
                    <input type="text" th:field="${article.description}" id="description" class="form-control" placeholder="description" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="category">Category</label>
                    <!--<div th:if="${#fields.hasErrors('article.category')}" bgcolor="red">Description cannot be null &#45;&#45;&#45;&#45;!</div>-->
                    <select th:field="${article.category.id}" name="category" id="category">
                        <option th:each="cat:${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="author">Author</label>
                    <div th:if="${#fields.hasErrors('article.author')}">Author cannot be null ----!</div>
                    <input type="text" th:field="${article.author}" class="form-control" id="author" placeholder="your article's author" />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="thumbnail">File chooser</label>
                    <input type="file"  name="thumb" accept="/image/*" class="form-control" id="thumbnail"  />
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <input class="button" type="submit" th:value="${formAdd}?'Add-New-Article':'Update-New-Article'" />
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>