<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default_layout" >
<head>
    <title>List - Articles</title>
</head>
<body>
    <div  layout:fragment="content">
        <h2>List - Articles</h2>
        <div class="container">
            <h3><a href="/add">Add-New-Article</a></h3>
            <table id="articles">
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Author</th>
                    <th>Thumbnail</th>
                    <th>CreatedDate</th>
                    <th>Actions</th>
                </tr>
                <tr th:each="article : ${articles}" th:object="${article}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{title}"></td>
                    <td th:text="*{category.name}"></td>
                    <td th:text="*{description}"></td>
                    <td th:text="*{author}"></td>
                    <td><img th:src="*{thumbnail}" class="img"/></td>
                    <td th:text="*{createdate}"></td>
                    <td>
                        <a class="btn" th:href="@{/update/{id}(id=*{id})}">Edit</a>
                        <a class="btn" th:href="@{/delete/{id}(id=*{id})}">Delete</a>
                        <a class="btn" th:href="@{/view/{id}(id=*{id})}">View</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>