<header >
    <ul id="header">
        <li><a class="active" href="#"><i class="fas fa-home"></i>&nbsp;Home</a></li>
        <li><a href="#"><i class="fas fa-list-ul"></i> &nbsp; Category</a></li>
        <div id="l_header">
            <li><a href="#"><i class="fas fa-phone"></i> &nbsp; +855 69526364</a></li>
            <li><a href="#"><i class="fas fa-user"></i> &nbsp; Login</a></li>
            <li><a href="#"><i class="far fa-registered"></i> &nbsp; Register</a></li>
        </div>
    </ul>
</header>