<footer id="footer">
    <div>
        <nav>
            <ul>
                <li>
                    <a href="index.html">
                        <i class="fa fa-lg fa-home"></i>
                    </a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">privacy</a>
                </li>
                <li>
                    <a href="#">cookies</a>
                </li>
                <li>
                    <a href="#">Shop</a>
                </li>
                <li>
                    <a href="#">sitemap</a>
                </li>
            </ul>
        </nav>
        <ul class="footer">
            <li>
                <a href="#">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-dribbble"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-google-plus"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fab fa-vk"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>