<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/style.css}" />
    <link rel="stylesheet" th:href="@{https://use.fontawesome.com/releases/v5.1.0/css/all.css}">
</head>
<body>
    <div th:replace="header/header :: header"></div>

    <div layout:fragment="content"></div>

    <div th:replace="footer/footer::footer"></div>
</body>
</html>